#app-id{
    div.app-id{
        align-items: center;
        margin-top: 3.5em;
        margin-left: 5em;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
    }
    div.app-id:hover{
        border: 1px solid #777;
        transform: scale3d(1.5,1.5,1.5);
    }
    div.desc{
        padding: 15px;
        text-align: center;
    }
}
