.text{
    color: black;
    font-size: 16px;
}
.price{
    color: blue;
    font-weight: bold;
}
.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
}
.flex-container > div{
    background-color: #dae1e7;
    text-align: center;
    width: 270px;
    height: 370px;
    margin:20px;
}
.table{
    margin-top: 3em;
    margin-left: 100px;
}
.search{
    margin-top: 3em;
    margin-left: 100px;
}
