#style{
    .topnav {
        overflow: hidden;
        background-color: #e9e9e9;
        padding: 20px 10px;
    }

    .topnav a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 17px;
        line-height: 25px;
        border-radius: 4px;
        font-family: "Times New Roman", Times, serif;

    }

    .topnav a:hover {
        background-color: #555555;
        color: white;
        transform: scale3d(1.3,1.5,1.5);
    }

    .topnav a.active {
        background-color: #2196F3;
        color: white;
    }

    .topnav input[type=text] {
        float: right;
        padding: 6px;
        border: none;
        margin-top: 8px;
        margin-right: 16px;
        font-size: 17px;
    }

    @media screen and (max-width: 600px) {
        .topnav a, .topnav input[type=text] {
            float: none;
            display: block;
            text-align: left;
            width: 100%;
            margin: 0;
            padding: 14px;
        }
        .topnav input[type=text] {
            border: 1px solid #ccc;
        }
    }
    li{

        font-family: "Times New Roman", Times, serif;
        font-size: 25px;

    }

    li.hover{
        background-color: #555555;
        color: white;
    }
    p{
        border: 1px;
        padding: 10px;
        width: 600px;
        text-align: justify;
        margin-bottom:2em;
    }


    h2.title{
        border: 1px;
        padding: 10px;
        width: 500px;
        text-align: justify-all;
    }
    .control{
        width: 600px;
        height: 50px;
        margin-bottom: 5em;
    }
}
