/*
.test-modal {
    position: absolute;
    border: solid 1px red;
    border-radius: 7px;
    padding: 1em 2em;
    left: 50%;
    top: 50%;
    background-color: #efefef;
}

.test-menu {
    clear: both;
    text-align: center;

    li {
        display: inline-block;

        a {
            display: inline-block;
            width: 100%;
            height: 100%;
            background: #ccc;
            padding: .5em 1.5em;

            &:hover {
                background-color: red;
                color: #fff;
            }
        }

        ul {
            display: none;
        }

        &.submenu {
            &:hover{
                position: relative;

                & > ul {
                    display: block;
                    position: absolute;
                    text-align: left;
                    top: 100%;
                    left: 0;

                    li {
                        display: block;
                        width: 100%;

                        a {
                            display: inline-block;
                            width: 100%;

                            &:hover {
                                background: blue;
                            }
                        }

                        &.submenu {
                            &:hover{
                                position: relative;
                               & > ul {
                                    display: block;
                                    position: absolute;
                                    left: 100%;
                                    top: 0;
                                    background-color: #555555;

                                    li {
                                        a {
                                            &:hover {
                                                background: yellow;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
*/
