<template xmlns="http://www.w3.org/1999/html">
    <div>
      <div class="dropdown">
        <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                <span>Category</span>
                <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
       </span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
                <a href="#" class="dropdown-item">
                    Games
                </a>
                <a class="dropdown-item">
                    Education
                </a>
                <a href="#" class="dropdown-item">
                    Business
                </a>
                <a href="#" class="dropdown-item">
                   Lifesytle
                </a>
                <a href="#" class="dropdown-item">
                   Others...
                </a>

            </div>
        </div>
    </div>
        <a class="button is-dark" style="margin-top: 1em" href="/apps/add">Add App</a><br>

    <!--Form validation using vue JS-->
        <!--<form action="https://vuejs.org/" method="post" @submit="checkForm" novalidate="true">
            <p v-if="errors.length">
                <b>Please correct the following error(s):</b>
                <ul>
                    <li v-for="error in errors">{{error}}</li>
                </ul>
            </p>

            <p>
                <label for="name">Name</label>
                <input v-model="name" type="text" name="name" >
            </p>
            <p>
                <label for="email">Email</label>
                <input v-model="email" type="email" name="email">
            </p>

            <p>
                <label for="age">Age</label>
                <input v-model="age" type="number" name="age" min="5">
            </p>
            <p>
                <label for="movie">Favorite Movie</label>
                <select v-model="movie" name="movie" id="movie">
                    <option>Star Wars</option>
                    <option>Vanilla Sky</option>
                    <option>Atomic Blonde</option>
                </select>
            </p>
            <p>
                <input type="submit" value="submit">
            </p>
        </form>-->
    </div>
</template>

<script>
    export default {
        data() {
            return {
                errors: [],
                name: null,
                age: null,
                movie: null,
                email:null

            }
        },
        methods: {
            checkForm(e) {
                this.errors =[];

                if (!this.name){
                    this.errors.push('Name required.');
                }
                if(!this.age){
                    this.errors.push('Age required.');
                }
                if(!this.email){
                    this.errors.push('Email required.');
                }else if(!this.validEmail(this.email)){
                    this.errors.push('Valid email required');
                }
                if (!this.errors.length){
                    return true;
                }
                e.preventDefault();
            },
            validEmail(email){
                let re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            }
        },

    }
</script>

<style lang="scss" scoped>
.dropdown:hover{
    .dropdown-menu{
        display: block;
    }

}
.dropdown{
    margin-top: 1em;
    background-color: #0a0a0a;
}
</style>
