<template>
    <div>
        <div class="calculator">
            <div class="display">{{current || '0'}}</div>
            <div @click="clear" class="btn">C</div>
            <div @click="sign" class="btn">+/-</div>
            <div class="btn">%</div>
            <div class="btn operator">/</div>
            <div class="btn">7</div>
            <div class="btn">8</div>
            <div class="btn">9</div>
            <div class="btn operator">*</div>
            <div class="btn">4</div>
            <div class="btn">5</div>
            <div class="btn">6</div>
            <div class="btn operator">-</div>
            <div class="btn">1</div>
            <div class="btn">2</div>
            <div class="btn">3</div>
            <div class="btn operator">+</div>
            <div class="btn zero">0</div>
            <div class="btn">.</div>
            <div class="btn operator">=</div>
        </div>

        <!--<ul>
            <li v-for="name in names">{{name}}</li>
        </ul>
        <input id="input" type="text" v-model="newName">
        <button @click="addName">Add Name</button>
        <br>-->
        <!--<button :title="title">Hover over me</button><br>-->
        <div class="container">
        <article class="message is-success" v-show="showMessage" >
            <div class="message-header">
                <p>Hello World</p>

               <button type="button" @click="hideMessage"></button>
            </div>
            <div class="message-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                <strong>Pellentesque risus mi</strong>,
                tempus quis placerat ut, porta nec nulla.
                Vestibulum rhoncus ac ex sit amet fringilla.
                Nullam gravida purus diam, et dictum
                <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>,
                in mollis lectus. Donec sodales, arcu et sollicitudin porttitor,
                tortor urna tempor ligula, id porttitor mi magna a neque.
                Donec dui urna, vehicula et sem eget, facilisis sodales sem.
            </div>
        </article>
        </div>

        <div class="container">
        <div class="modal is-active" v-if="showModal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                 <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aenean efficitur sit amet massa fringilla egestas.
                    Nullam condimentum luctus turpis.
                  </p>
                </div>
            </div>
            <button class="modal-close" @click="hideModal"></button>
        </div>
            <button class="button is-info is-outlined is-rounded is-focused" @click="showModal = true">Show Modal</button>
        </div>

        <!--<button :class="{'is-loading':isLoading}" @click="toggleClass">Toggle Me</button>-->

        <!--tab components-->
        <!--<div class="tabs">
            <ul>
                <li class="is-active"><a>Pictures</a></li>
                <li><a>Music</a></li>
                <li><a>Videos</a></li>
                <li><a>Documents</a></li>
            </ul>
        </div>-->
        <form method="post" @submit.prevent="addTask">
            <input v-model="title" class="input is-info" type="text" name="title" placeholder="Text input">
            <input type="submit" value="Add Task" >
        </form>
    </div>
</template>

<script>
    export default {
        data() {
            return {
               /* newName:'',
                names: ['joe', 'Mary', 'Jane', 'Jack'],
                title:'title is being set through javascript.',*/
                isLoading:false,
                showMessage:true,
                showModal: false,
                title: '',
                current:''

            }
        },
        methods: {
            clear(){
                this.current = '';
            },
            sign(){
                this.current = this.current.charAt(0) === '-' ?
                    this.current.slice(1) : '-$(this.current)';
            },
            addName() {
                this.names.push(this.newName);

                this.newName = '';
            },
            toggleClass(){
                this.isLoading = true;
            },
            hideMessage(){
                this.showMessage = false;
            },
            hideModal(){
                this.showModal = false;
            },
            addTask(){
                axios.post('/extra', {title:this.title});
                alert('adding task');
            }
        },


    }
</script>

<style scoped>
    .calculator{
        display:grid ;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(50px, auto);
        font-size: 40px;
        width: 400px;
        margin: 0 auto ;
    }
    .display{
        grid-column: 1 / 5;
        background-color: #333;
        color: white;
    }
    .zero{
        grid-column: 1/3;
    }
    .btn{
        background-color: #F2F2F2;
        border: 1px solid #999;
    }
    .operator{
        background-color: orange;
        color: white;
    }
.is-loading{
    background: blue;
}
    .container{
        padding-top: 2em;
        padding-bottom: 2em;
    }
.modal-content {
    animation-name: animatetop;
    animation-duration: 0.6s;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) ;
}

    @keyframes animatetop {
        from{top: -300px; opacity: 0}
        to{top:0; opacity: 1}

    }
    .modal-close{
        color:white ;
        font-size: 28px;
        font-weight:bold ;

    }
    .modal-close:hover, .modal-close:focus{
        color: #000;
        text-decoration: none;
        cursor: pointer;

    }


</style>
