<template>
    <div>
        <!--watcher property-->
       <!-- kilometers : <input type="text" v-model="kilometers">
        Meters : <input type="text" v-model="meters"><br>-->


        <div v-bind:class="{active:isactive}">
            <h1>{{title}}</h1>

            <div class="gallery">
                <a target="_blank" href="#">
                    <img v-bind:src="imgsrc1" alt="image" height="300" width="200">
                </a>
                <div class="desc">Add a description </div>
            </div>
            <div class="gallery">
                <a target="_blank" href="#">
                    <img v-bind:src="imgsrc2" alt="image" height="300" width="200">
                </a>
                <div class="desc">Add a description </div>
            </div>
            <div class="gallery">
                <a target="_blank" href="#">
                    <img v-bind:src="imgsrc3" alt="image" height="300" width="200">
                </a>
                <div class="desc">Add a description </div>
            </div>
            <div class="gallery">
                <a target="_blank" href="#">
                    <img v-bind:src="imgsrc4" alt="image" height="300" width="200">
                </a>
                <div class="desc">Add a description </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                kilometers: 0,
                meters: 0,
                title: 'IMAGE GALLERY',
                isactive:true,
                imgsrc1:'/1.jpg',
                imgsrc2:'/2.jpg',
                imgsrc3:'/3.jpg',
                imgsrc4:'/4.jpg'

            }
        },


        watch: {
           kilometers(val){
               this.kilometers = val;
               this.meters = val*1000;
           },
            meters(val){
               this.kilometers = val/1000;
               this.meters = val;

            }
        },


        /* created() {
             this.dd = this.maketime();
             setInterval(this.updatetime, 1000)
         },

         methods: {
             maketime(){
                 let d = new Date();
                 let hour = d.getHours();
                 let min = d.getMinutes();
                 let sec = d.getSeconds();

                 if(sec < 10 ){
                     sec = '0' + sec ;
                 }

                 return hour + ":" + min + ":" + sec;
             },

             updatetime(){
                 this.dd = this.maketime();
             }
         },*/

    }

</script>
<style scoped>
    .active{
        background: #e9e9e9;
        text-align: center;
        margin-top: 1em;
        color: black;
        font-family: "Times New Roman", Times, serif;
        height: 2em;

    }
    div.gallery{
       align-items: center;
        margin-top: 3.5em;
        margin-left: 5em;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
    }
    div.gallery:hover{
        border: 1px solid #777;
        transform: scale3d(1.5,1.5,1.5);
    }
    div.desc{
        padding: 15px;
        text-align: center;
    }


</style>
