<template>
    <div>
        <div v-if= "usernotfound === '1'"> user not found</div>
        <form action="/login" method="post" enctype="multipart/form-data" @keydown="errors.clear($event.target.name)">
            <div class="field ">
            <div class="control">
                <label class="label">username</label>
                <input class="input" type="text" name="username" v-model="username">
                <p v-if="nousername" class="error">Please input username</p>

                <label class="label">password</label>
                <input class="input" type="password" name="password" v-model="password">
                <p v-if="nopassword" class="error">Please input password</p>

                <button class="button" type="submit" @click="submit">login</button>
            </div>
        </div>
        </form>
    </div>
</template>

<script>
    export default {
        props: {
            usernotfound: {},
        },
        data() {
            return {
                username: '',
                password: '',
                nousername: false,
                nopassword: false,

            }
        },
        methods: {
            submit(e) {
                this.usernotfound = '';
                this.nousername = this.username === '';

                this.nopassword = this.password === '';

                if (this.nousername === true || this.nopassword === true) {
                    e.preventDefault();
                }
            }
        },
    }
</script>

<style scoped>
    .error {
        background-color: #e3342f;
        color: #efefef;
    }
</style>
