<template>
    <div>
       <!--<div class="box">
           <p>
               <slot></slot>
           </p>
       </div>-->
        <ul>
            <li v-for="skill in skills">{{skill}}</li>
        </ul>

    </div>
</template>

<script>
    export default {
        created() {
            axios.get('/skills')
                .then( response => this.skills = response.data);
        },
        data() {
            return {
                skills: []
            }
        },
    }
</script>

<style scoped>

    .box{
        background: #b8c2cc;
        padding: 10px;
        border: 1px solid #c5c5c5;
        margin-bottom: 1em;
    }
</style>
