<template>
    <div>
        <h1 class="card-header-title">Latest>></h1>
        <h2 v-if="showSuccess">Comment saved.</h2>
        <ul class="list-item">
                <li v-for="(newsitem, index) in newslist" class="list-item" >
                    <a :class="{ active: showComment }" v-on:click.prevent="toggleComment(index)" >
                        {{ newsitem.title }}<br>
                    </a>
                    <p v-if="showComment === index"> {{ newsitem.description }}</p>
                    <div v-if="showComment === 0">
                        <form method="post" v-on:submit.prevent="saveComment">
                            <div class="field">
                                <div class="control">
                                    <textarea name="description" class="textarea" required v-model="comment"></textarea>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <button  type="submit" class="button is-success">Add comments</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <ul v-if="showComment===index">
                        <li v-for="comment in newsitem.comments">
                            {{ comment.comment }}
                        </li>
                    </ul>

            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        created() {
            // Make a request for a user with a given ID
            axios.get('/newslist')
                .then((response) => {
                    this.newslist = response.data;
                });
        },
        data() {
            return {
                newslist: '',
                showComment: null,
                message:'',
                comment:'',
                showSuccess: false

            }
        },
        methods: {
            toggleComment(index) {
                /*if (this.showComment != index) {
                    this.showComment  = index;
                }else{
                    this.showComment = null
                }*/
                this.showComment = this.showComment != index ? index : null


            },
            saveComment(){
                let url = '/news/'+ this.showComment+1+ '/comments';
                axios.post(url, {
                    comment: this.comment
                }).then((response) => {
                        this.showSuccess = response.data.success === 1;
                    })
                    .catch(function (error) {
                        this.showSuccess = false;
                    });


            }
        },
    }
</script>

<style scoped>
    .active {
        color: red;
    }
</style>
