<template>
    <div id="startup">
        <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a @click.prevent="showNav" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                   data-target="navbarBasicExample">
        <span class="a" aria-hidden="true"></span>
        <span class="a" aria-hidden="true"></span>
        <span class="a" aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a @click.prevent="goToAbout" class="navbar-item">About <fa icon="coffee" style="color: red"></fa></a>
            <a @click.prevent="goToServices" class="navbar-item">Services <fa icon="angle-double-down" style="color: red;"></fa></a>
            <a @click.prevent="goToTeam" class="navbar-item">Team <fa icon="user" style="color: red"></fa></a>
            <a @click.prevent="goToPricing" class="navbar-item">Pricing <fa icon="dollar-sign" style="color: red"></fa></a>
            <a @click.prevent="goToContact" class="navbar-item">Contact <fa icon="envelope" style="color: red"></fa></a>
        </div>
    </div>
    </nav>
        <div class="heros">
                <div class="bg-img"></div>
            <div class="img-title">
                <h1 class="title">Ham Consequat <strong>Jowl</strong> Tenderloin <br></h1>
                <h1 class="title">Commodo Dolor</h1>
            </div>
        </div>

        <div style="background-color: #292929">
        <section id="about" class="section"  style="background-color: #011627">
            <div class="container">
                <h1 class="title-section">ABOUT</h1>
                <h2 class="subtitle-section">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <br>
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrudbr <br>
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure <br>
                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br>
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.
                </h2>
            </div>
        </section>

        <section id="services" class="section"  style="background-color:#04243f">
            <div class="container">
                <h1 class="title-section">SERVICES</h1>
                <div class="columns">
                    <div class="column is-two-thirds">
                        <a href="#">
                        <p class="services"><fa id="icon_class" icon="globe-asia"></fa>
                            <br> Web Development</p>
                        </a>
                    </div>
                    <div class="column">
                        <a href="#">
                            <p class="services"><i id="icon_class" class="fab fa-android"></i>
                                <br> Android Apps</p>
                        </a>
                    </div>
                </div>
                <div class="columns">
                <div class="column is-two-thirds">
                    <a href="#">
                    <p class="services"><i id="icon_class" class="fab fa-apple"></i> <br>Ios Apps</p>
                    </a>
                </div>
                <div class="column">
                    <a href="#">
                    <p class="services">
                        <fa id="icon_class" icon="bullhorn"></fa>
                        <br> Marketing
                    </p>
                    </a>
                </div>
            </div>
            </div>
        </section>
                <h1 id="team" class="title-section">THE TEAM</h1>
        </div>
        <button class="goTop" v-if="isVisible" @click.prevent="backToTop">
            Top
            <i class="fa fa-angle-up" aria-hidden="true"></i>
        </button>

        <div class="flex-container">
            <div>
                <figure class="image is-128x140">
                <img src="/team.jpg" alt="asa">
                </figure>
                <p class="title is-4">@John Smith</p>
            </div>
            <div>
                <figure class="image is-128x140">
                    <img src="/team.jpg" alt="hh">
                </figure>
                <p class="title is-4">@John Smith</p>
            </div>
            <div>
                <figure class="image is-128x140">
                    <img src="/team.jpg" alt="tt">
                </figure>
                <p class="title is-4">@John Smith</p>
            </div>
            <div>
                <figure class="image is-128x140">
                    <img src="/team.jpg" alt="ty">
                </figure>
                <p class="title is-4">@John Smith</p>
            </div>
        </div>
        <section id="pricing" class="section">
            <div class="container">
                <h1 class="title-price">PRICING</h1>
                <div class="columns">
                    <div class="column">
                        <ul class="price">
                            <li class="header">Free</li>
                            <li class="grey">$ 0 / year</li>
                            <li>10GB Storage</li>
                            <li>10 Emails</li>
                            <li>1GB Bandwidth</li>
                            <li class="grey"><a href="#" class="button">Sign up for free</a></li>
                        </ul>
                    </div>
                    <div class="column">
                        <ul class="price">
                            <li class="header">Pro</li>
                            <li class="grey">$ 50 / year</li>
                            <li>25GB Storage</li>
                            <li>25 Emails</li>
                            <li>2GB Bandwidth</li>
                            <li class="grey"><a href="#" class="button">Get Started</a></li>
                        </ul>
                    </div>
                    <div class="column">
                        <ul class="price">
                            <li class="header">Enterprise</li>
                            <li class="grey">$ 99 / year</li>
                            <li>50GB Storage</li>
                            <li>50 Emails</li>
                            <li>5GB Bandwidth</li>
                            <li class="grey"><a href="#" class="button">Contact us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id="contact" class="section">
            <div class="container">
                <h1 class="title-price">CONTACT US</h1>
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Name :</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="e.g Alex Smith">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Email :</label>
                            <div class="control">
                                <input class="input" type="email" placeholder="e.g. alexsmith@gmail.com">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Subject :</label>
                            <div class="control">
                                <input class="input" type="email" placeholder="subject">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Message :</label>
                            <div class="control">
                                <textarea class="textarea" placeholder="Write something..."></textarea>
                            </div>
                        </div>
                        <div class="field">
                        <div class="control">
                            <button id="submit-btn" class="button is-primary">Submit</button>
                        </div>
                        </div>
                    </div>
                    <div class="column" style="background-color: #b8c2cc">
                        <div class="contact-icon">
                            <i id="contact-icon" class="fas fa-map-marker-alt"></i> <span>Kathmandu, Nepal</span>
                        </div>
                        <div class="contact-icon">
                            <i id="contact-icon" class="fas fa-phone-volume"></i> <span>Phone: +977 151515 </span>
                        </div>
                        <div class="contact-icon">
                            <i id="contact-icon" class="fas fa-envelope"></i> <span>Email: Khadkasujan774@gmail.com</span>
                        </div>
                            <img src="/map.jpg" alt="map">
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer" style="background-color:black">
            <div class="content has-text-centered">
                    <span>
                        <i class="fab fa-facebook-square"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-google-plus-square"></i>
                    </span>
                    <br>
                   <i class="fas fa-copyright"></i> <span>Copyright 2019</span>
            </div>
        </footer>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                isVisible: false,
                showMenu:false,
            }
        },

        created () {
            window.addEventListener('scroll', this.showbackToTop);
        },
        destroyed () {
            window.removeEventListener('scroll', this.showbackToTop);
        },
        methods: {
            backToTop(){
               let scroll = window.scrollY;
                if (scroll > 0) {
                    window.requestAnimationFrame(this.backToTop);
                    window.scrollTo(0, Math.floor(scroll - scroll/5));
                }
            },
            showbackToTop () {
                this.isVisible = window.scrollY >= 100;
            },
            goToAbout(){
                let scroll = window.document.getElementById("about");
                    scroll.scrollIntoView();

            },
            goToServices(){
                let scroll = document.getElementById("services");
                scroll.scrollIntoView();
            },
            goToTeam(){
                let scroll = document.getElementById("team");
                scroll.scrollIntoView();
            },
            goToPricing(){
                let scroll = document.getElementById("pricing");
                scroll.scrollIntoView();
            },
            goToContact(){
                let scroll = document.getElementById("contact");
                scroll.scrollIntoView();
            },
            showNav(){
                //this.showMenu = this.showMenu != true;
                let x = document.getElementById("navbarBasicExample");
                if(x.className === "navbar-menu"){
                    x.className += "responsive";
                }else {
                    x.className = "navbar-menu";
                }
            }

        },

    }
</script>
<style lang="scss" scoped>
    .price{
        margin: 0;
        padding: 0;
    }
    .price:hover{
        box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
    }
    .header{
        background-color:  #0f81cc;
        font-size: 25px;
        text-align: center;
        color: white;
    }
    .price li {
        border-bottom: 1px solid #eee;
        padding: 20px;
        text-align: center;
    }
    .grey {
        background-color: #eee;
        font-size: 20px;
    }
    #icon_class{
        font-size: 2.5em;
        color: #f6993f;
        margin-bottom: 10px;
        text-align: center;
    }
    .button {
        background-color: #0f81cc;
        border: none;
        color: white;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
    }
    .navbar {
        background-image: url("/image.jpg");
        position: static;
    }

    .navbar-item {
        color: white;
        font-weight: bold;

    }

    .a {
        color: white;
    }
    .img-title {
        position:absolute;
        color: white;
        top: 45%;
        left: 60px;
        letter-spacing: 2px;
        font-size: 30px;
        font-weight: bold;
        font-family: "Raleway", sans-serif;

    }

    @media screen and (max-width: 700px){
        .title{
            font-size: 20px;
        }
    }
    .bg-img{
        height:100vh;
        background: url('/unsplash1.jpg') no-repeat center ;
        background-size: cover;
        position: relative;
    }
    .title-section{
        color: white;
        letter-spacing: 3px;
        font-size: 30px;
        font-weight: bold;
        font-family: "Times New Roman", Times, serif;
        text-align: center;
    }
    .title-price{
        color: black;
        letter-spacing: 3px;
        font-size: 30px;
        font-weight: bold;
        font-family: "Times New Roman", Times, serif;
        text-align: center;
        margin-bottom: 1em;
    }
    .subtitle-section{
        text-align: center;
        margin-top: 2em;
        color: white;
        font-size: 18px;
    }
    .services{
        color: white;
        font-size: 20px;
    }
    .goTop{
        border-radius: 5px;
        background-color: #b8c2cc;
        position: fixed;
        width: 45px;
        height: 45px;
        right: 15px;
        bottom: 15px;
        z-index: 2;
    }
    .goTop:hover{
        background-color: #636b6f;
    }
    .fa {
        color: black;
        font-size: 22px;
    }

    .flex-container{
        display: flex;
        background-color: #0f81cc;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        align-content: stretch;
    }
    .flex-container > div {
        background-color: whitesmoke;
        font-size: 30px;
        margin: 10px;
        padding: 20px;
        height: 350px;
        width: 300px;
    }
    #contact-icon{
        font-size: 1.8em;
        margin: 10px;
    }
    .contact-icon{
        margin-bottom: 1em;
    }
    #startup .control {
        margin-bottom: 1em;
    }
    #submit-btn{
        margin-top: 5em;
    }
    .content{
        color: white;
    }
</style>
