<template>
   <div>
       <!--<div class="modal is-active">
           <div class="modal-background"></div>
           <div class="modal-card">
               <header class="modal-card-head">
                   <p class="modal-card-title">
                        <slot name="header"></slot>
                   </p>
                   <button class="delete" aria-label="close"></button>
               </header>
               <section class="modal-card-body">
                   <slot></slot>
               </section>
               <footer class="modal-card-foot">
                   <slot name="footer"></slot>
               </footer>
           </div>
       </div>-->
<!--<message>Hello There</message>
<message>Hello There 1</message>
<message>Hello There 2</message>-->

   </div>
</template>

<script>
    import message from './message.vue';
    export default {
        components:{message},


    }
</script>
